<!DOCTYPE html>
<html>
<head>
  <title>Unidom Contact</title>
  <%= stylesheet_link_tag    'unidom/contact/application', media: 'all' %>
  <%= javascript_include_tag 'unidom/contact/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
